@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container-form {
      @apply flex items-center justify-center min-h-screen
  }
  .container-header {
      @apply px-8 py-6 text-left bg-indigo-100 shadow-lg rounded-xl
  }
  .container-checkbox {
      @apply flex items-end justify-between
  }
  .container-footer {
      @apply font-medium text-indigo-600 hover:text-indigo-500 ml-2
  }
  .button-container {
      @apply relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;
  }
  .container-card-list{
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4;
  }
  .contained-card{
    @apply my-4 py-4 px-4 border border-gray-300 rounded-md bg-white flex flex-col items-center;
  }
  .input {
    @apply appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm;
}
.input-error {
    @apply appearance-none rounded-none relative block w-full px-3 py-2 border border-rose-600 placeholder-gray-500 text-red-600 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-purple-500 focus:z-10 sm:text-sm;
}
  .span {
      @apply absolute left-0 inset-y-0 flex items-center pl-3;
  }
  .button-lock {
      @apply h-5 w-5 text-indigo-500 group-hover:text-indigo-400;
  }
  .checkbox-input {
    @apply w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded self-center;
  }
  .paragraphs {
      @apply mt-2 text-center text-sm text-gray-600;
  }
  .heading {
      @apply mt-3 text-center text-3xl tracking-tight font-bold text-gray-900;
  }
  .icon {
      @apply text-[56px] text-indigo-600 justify-center;
  }
  .link {
      @apply font-medium text-indigo-600 hover:text-indigo-500 ml-2;
  }

}

